@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$white-text: #fdf6f0;
$bg-color: #f5c6aa;
$brow-color: #7d5a50;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: inline-block;
}

*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 15px 20px;
}

p {
  margin: 20px 20px;
}

body {
  letter-spacing: 1px;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.main {
  .navbar {
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 15px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    .logo {
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.6px;
      text-shadow: 0px 2px 5px #111;
      color: $white-text;
      padding: 0 15px;
      user-select: none;
    }

    .menu {
      display: flex;
      text-align: center;
      .menu-item {
        padding: 20px 10px;
        .active {
          background-color: $white-text;
          color: $brow-color !important;
        }
        .menu-link {
          transition: background-color linear 0.2s;
          color: $white-text;
          display: inline-block;
          padding: 12px 24px;
          border-radius: 20px;
          font-weight: 500;

          &:hover {
            background-color: $white-text;
            color: $brow-color;
          }
        }
      }
    }

    #toggle {
      position: relative;
      width: 30px;
      height: 30px;
      z-index: 10000;
      display: none;
      span {
        position: absolute;
        width: 100%;
        height: 100%;

        &::after {
          content: "";
          position: absolute;
          top: 10%;
          width: 100%;
          height: 3px;
          background-color: white;
          box-shadow: 0 8.5px 0 white;
        }

        &::before {
          content: "";
          position: absolute;
          top: 70%;
          width: 100%;
          height: 3px;
          background-color: white;
        }
      }
    }
  }
  .content {
    .banner {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .banner-video {
        width: 100%;
        height: 100vh;
        video {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: $bg-color;
          object-fit: cover;
          display: none;
        }
        .active {
          display: block;
        }
      }
      .banner-text {
        backdrop-filter: blur(10px);
        position: absolute;
        width: 55%;
        height: 100vh;
        top: 0;
        left: 0;

        .banner-item {
          padding: 0 25px;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          color: $white-text;
          display: none;

          .banner-name {
            font-size: 4rem;
            letter-spacing: 4px;
            font-weight: 700;
          }
          .banner-desc {
            font-size: 1.3rem;
            letter-spacing: 1.4px;
          }
        }

        .active {
          display: block;
        }
      }

      .sci {
        position: absolute;
        width: 50px;
        bottom: 5%;
        right: 0;
        background-color: $white-text;
        text-align: center;

        .sci-icon {
          transition: 0.3s;
          padding: 5px 0;
          box-shadow: -3px 2px 5px #111;
          a {
            padding: 0px 10px;
            font-size: 2rem;
            color: #7d5a50;
          }

          &:hover {
            background-color: $brow-color;

            a {
              color: white;
            }
          }
        }
      }
      .control-Slide {
        position: absolute;
        right: 0;
        width: 45%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
          button {
            border: none;
            background-color: transparent;
            i {
              backdrop-filter: blur(10px);
              font-size: 2rem;
              color: $white-text;
              padding: 10px;
            }
          }
        }
      }
    }

    .popular-menu {
      position: relative;
      border: 20px solid $brow-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 45px;
      background-color: #fcdec0;
      color: #7d5a50;
      z-index: 1;
      .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.1;
      }
      .title-section {
        text-transform: uppercase;
        font-size: 2.5rem;
        text-decoration: underline;
      }

      .desc-section {
        text-align: center;
        width: 50%;
      }

      .popular-list {
        margin: 15px 20px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        .popular-item {
          margin: 15px 0;
          width: calc(100% / 3);
          img {
            border-radius: 50%;
            width: 25vw;
            height: 25vw;
            object-fit: cover;
          }
        }
      }
    }
    .cookie-images {
      margin: 30px 20px;

      .row {
        .col-1 {
          position: relative;
          width: 100%;
          height: 100%;
          background: url(../image/pexels-diana-akhmetianova-7296681.jpg);
          background-size: cover;
          background-position-y: 10%;

          .about-section {
            background-color: #f5c6aa83;
            position: relative;
            display: flex;
            width: 40%;
            flex-direction: column;
            max-width: 100%;
            color: #0a1d37;
            text-align: justify;
            padding: 0 50px;
            i {
              float: right;
            }
          }
        }
        .col-2 {
          width: 100%;

          margin-top: 15px;

          height: 300px;
          display: flex;
          img {
            width: 25%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .main {
    .navbar {
      .logo {
        padding: 0;
      }
      #toggle {
        display: block;
      }
      .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.767);
        .menu-item {
          font-size: 20px;
        }
      }
      .active {
        visibility: unset;

        span {
          opacity: 0.7;
        }
        span:after {
          top: 40% !important;
          transform: rotate(45deg);
          box-shadow: none !important;
        }

        span:before {
          top: 40% !important;
          transform: rotate(-45deg);
        }
      }
    }
    .content {
      .banner {
        .banner-text {
          width: 100%;

          text-align: center;
          .banner-item {
            min-height: 350px;
            overflow: hidden;
            .banner-name {
              font-size: 3rem;
            }
            .banner-desc {
              padding: 0 35px;
              font-size: 1rem;
            }
          }
        }

        .control-Slide {
          width: 100%;
          justify-content: space-between;
        }
      }
      .cookie-images {
        margin: 15px;
        .row {
          .col-1 {
            .about-section {
              padding: 0 20px;
              h1 {
                text-align: center;
              }
              width: 100%;
            }
          }
        }
      }
      .popular-menu {
        padding: 0;
        border: $brow-color solid 15px;
        .popular-list {
          margin: 0;
          .popular-item {
            .desc {
              padding: 0px 15px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 739px) {
  .main {
    .content {
      .popular-menu {
        .desc-section {
          width: 80%;
        }
        .popular-list {
          flex-direction: column;
          .popular-item {
            margin: 20px 0;
            width: 100%;
            img {
              border-radius: 0;
              width: 70%;
              height: 70%;
            }
          }
        }
      }
    }
  }
}
