@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: inline-block;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 15px 20px;
}

p {
  margin: 20px 20px;
}

body {
  scroll-behavior: smooth;
  letter-spacing: 1px;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.main .navbar {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: 15px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

.main .navbar .logo {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.6px;
  text-shadow: 0px 2px 5px #111;
  color: #fdf6f0;
  padding: 0 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main .navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.main .navbar .menu .menu-item {
  padding: 20px 10px;
}

.main .navbar .menu .menu-item .active {
  background-color: #fdf6f0;
  color: #7d5a50 !important;
}

.main .navbar .menu .menu-item .menu-link {
  -webkit-transition: background-color linear 0.2s;
  transition: background-color linear 0.2s;
  color: #fdf6f0;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 20px;
  font-weight: 500;
}

.main .navbar .menu .menu-item .menu-link:hover {
  background-color: #fdf6f0;
  color: #7d5a50;
}

.main .navbar #toggle {
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 10000;
  display: none;
}

.main .navbar #toggle span {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main .navbar #toggle span::after {
  content: "";
  position: absolute;
  top: 10%;
  width: 100%;
  height: 3px;
  background-color: white;
  -webkit-box-shadow: 0 8.5px 0 white;
          box-shadow: 0 8.5px 0 white;
}

.main .navbar #toggle span::before {
  content: "";
  position: absolute;
  top: 70%;
  width: 100%;
  height: 3px;
  background-color: white;
}

.main .content .banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .content .banner .banner-video {
  width: 100%;
  height: 100vh;
}

.main .content .banner .banner-video video {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f5c6aa;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}

.main .content .banner .banner-video .active {
  display: block;
}

.main .content .banner .banner-text {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
  width: 55%;
  height: 100vh;
  top: 0;
  left: 0;
}

.main .content .banner .banner-text .banner-item {
  padding: 0 25px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fdf6f0;
  display: none;
}

.main .content .banner .banner-text .banner-item .banner-name {
  font-size: 4rem;
  letter-spacing: 4px;
  font-weight: 700;
}

.main .content .banner .banner-text .banner-item .banner-desc {
  font-size: 1.3rem;
  letter-spacing: 1.4px;
}

.main .content .banner .banner-text .active {
  display: block;
}

.main .content .banner .sci {
  position: absolute;
  width: 50px;
  bottom: 5%;
  right: 0;
  background-color: #fdf6f0;
  text-align: center;
}

.main .content .banner .sci .sci-icon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 5px 0;
  -webkit-box-shadow: -3px 2px 5px #111;
          box-shadow: -3px 2px 5px #111;
}

.main .content .banner .sci .sci-icon a {
  padding: 0px 10px;
  font-size: 2rem;
  color: #7d5a50;
}

.main .content .banner .sci .sci-icon:hover {
  background-color: #7d5a50;
}

.main .content .banner .sci .sci-icon:hover a {
  color: white;
}

.main .content .banner .control-Slide {
  position: absolute;
  right: 0;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .content .banner .control-Slide li button {
  border: none;
  background-color: transparent;
}

.main .content .banner .control-Slide li button i {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  font-size: 2rem;
  color: #fdf6f0;
  padding: 10px;
}

.main .content .popular-menu {
  position: relative;
  border: 20px solid #7d5a50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 45px;
  background-color: #fcdec0;
  color: #7d5a50;
  z-index: 1;
}

.main .content .popular-menu .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.1;
}

.main .content .popular-menu .title-section {
  text-transform: uppercase;
  font-size: 2rem;
  text-decoration: underline;
}

.main .content .popular-menu .desc-section {
  text-align: center;
  width: 50%;
}

.main .content .popular-menu .popular-list {
  margin: 15px 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .content .popular-menu .popular-list .popular-item {
  margin: 15px 0;
  width: calc(100% / 3);
}

.main .content .popular-menu .popular-list .popular-item img {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .content .cookie-images {
  margin: 30px 20px;
}

.main .content .cookie-images .row {
  position: relative;
}

.main .content .cookie-images .row .col-1 {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../image/pexels-diana-akhmetianova-7296681.jpg);
  background-size: cover;
  background-position-y: 10%;
}

.main .content .cookie-images .row .col-1 .about-section {
  background-color: #f5c6aa83;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  min-height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  color: #0a1d37;
  text-align: justify;
  padding: 0 50px;
}

.main .content .cookie-images .row .col-1 .about-section i {
  float: right;
}

.main .content .cookie-images .row .col-2 {
  position: relative;
  margin-top: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main .content .cookie-images .row .col-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 900px) {
  .main .navbar .logo {
    padding: 0;
  }
  .main .navbar #toggle {
    display: block;
  }
  .main .navbar .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(0, 0, 0, 0.767);
  }
  .main .navbar .menu .menu-item {
    font-size: 20px;
  }
  .main .navbar .active {
    visibility: unset;
  }
  .main .navbar .active span {
    opacity: 0.7;
  }
  .main .navbar .active span:after {
    top: 40% !important;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .main .navbar .active span:before {
    top: 40% !important;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .main .content .banner .banner-text {
    width: 100%;
    text-align: center;
  }
  .main .content .banner .banner-text .banner-item .banner-name {
    font-size: 3rem;
  }
  .main .content .banner .banner-text .banner-item .banner-desc {
    padding: 0 35px;
    font-size: 1rem;
  }
  .main .content .banner .control-Slide {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .content .cookie-images {
    margin: 15px;
  }
  .main .content .cookie-images .row .col-1 .about-section {
    padding: 0 20px;
    width: 100%;
  }
  .main .content .cookie-images .row .col-1 .about-section h1 {
    text-align: center;
  }
  .main .content .popular-menu {
    padding: 0;
    border: #7d5a50 solid 15px;
  }
  .main .content .popular-menu .popular-list {
    margin: 0;
  }
  .main .content .popular-menu .popular-list .popular-item .desc {
    padding: 0px 15px;
  }
}

@media screen and (max-width: 739px) {
  body {
    font-size: 14px;
  }
  .main .navbar .logo {
    font-size: 1.5rem;
  }
  .main .content .banner .banner-text .banner-item .banner-name {
    font-size: 2rem;
  }
  .main .content .banner .banner-text .banner-item .banner-desc {
    padding: 0 25px;
    font-size: 1rem;
  }
  .main .content .banner .control-Slide {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .content .popular-menu .title-section {
    font-size: 1.6rem;
  }
  .main .content .popular-menu .desc-section {
    width: 80%;
  }
  .main .content .popular-menu .popular-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .content .popular-menu .popular-list .popular-item {
    margin: 20px 0;
    width: 100%;
  }
  .main .content .popular-menu .popular-list .popular-item img {
    border-radius: 0;
    width: 70%;
    height: 70%;
  }
}
/*# sourceMappingURL=style.css.map */
